<div class= 'form-group'>
  <h3>Collaborators</h3>
    <% if @wiki.user == current_user || current_user.admin? %>
      <%= form_tag(collaborators_path, action: :create, method: :post) do%>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        Give this person power over my wiki! <%= text_field_tag :email %>
        <%= submit_tag 'Add collaborator' %>
      <% end %>
    <% end %>
    
    <% @wiki.collaborators.each do |user| %>
    <div>
      <%= user.user.email %>
      <% if @wiki.user == current_user %>
          <%= link_to "Remove collaborator", user, method: :delete %>
      <% end %>
    </div>
  <% end %>
        <%= flash[:notice] %>

</div>

