<div class= 'form-group'>
  <h3>Collaborators</h3>
    <% if @wiki.user == current_user || current_user.admin? %>
      <%= form_tag(collaborators_path, action: :create, method: :post) do%>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        Give this person power over my wiki! <%= text_field_tag :email %>
        <%= submit_tag 'Add collaborator' %>
      <% end %>
        <%= form_tag(collaborators_path(@wiki.id), action: :destroy, method: :delete) do%>
        <%= hidden_field_tag :wiki_id, @wiki.id %>
        I no longer need this collaborator! <%= text_field_tag :email %>
        <%= submit_tag 'Remove collaborator' %>
      <% end %>
      <%= flash[:notice] %>
    <% end %>
<!-- <h2> list of emails so i don't have to constantly look them up in the rails console </h2>-->
<!--<User.each do |user| %>-->
<!--				<h4><= user.email %> </h4>-->
<!--< end %>-->
</div>